* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgColor {
    background-color: var(--bgColor);
}




:root {
    --headerColor: #436850;
    --bgColor: #FBFADA;
    --TextColor: #12372A;
    --sectionColor: #ADBC9F;
}

main {
    display: flex;
    align-items: center;
    min-height: 90vh;
    padding: 10px;
    justify-content: space-around;
}


form {
    /* border: 2px solid var(--headerColor); */
    margin-top: 100px;
    width: 60%;
    height: auto;
    padding: 10px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

form h2 {
    padding-bottom: 20px;
    color: var(--headerColor)
}


form div {
    display: flex;
    flex-direction: column;

}


form div label {
    font-size: 18px;
    padding: 8px;
    font-weight: bold;

}


form div input {
    padding: 15px;
    border: 1px solid var(--headerColor);
    background-color: var(--sectionColor);
    border-radius: 15px;
    color: var(--TextColor);
    font-size: bold;
}


form div input::placeholder {
    color: var(--TextColor);
    margin-left: 10px;

}

form div input:focus {
    outline: none;
}


textarea {
    padding: 15px;
    border: 1px solid var(--headerColor);
    background-color: var(--sectionColor);
    border-radius: 15px;
    color: var(--TextColor);
    font-size: bold;
}


textarea::placeholder {
    color: var(--TextColor);
    margin-left: 10px;

}

textarea:focus {
    outline: none;
}


form button {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    background-color: var(--headerColor);
    border: none;
    border-radius: 15px;
}


.contact {
    width: 35%;
    padding: 12px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.up {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.up figure {
    width: 60px;
    height: 60px;
    position: relative;

}


.up figure img {
    width: 100%;
    height: 100%;
}

.mail {
    width: 100px;
    height: 60px;
    margin-left: -20px;
}


.up figcaption {
    white-space: nowrap;
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}


.mail figcaption {
    left: 100%;
}




.down {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;

}


.down figure {
    width: 60px;
    height: 60px;
    position: relative;
}


.down figure img {
    width: 100%;
    height: 100%;
}


a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.down figcaption {
    white-space: nowrap;
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;

}


.down figure img:hover {
    transform: scale(1.2);
}